<footer class="footer">
  <article class="footer__content">
    <div>
      <figure class="footer__logo">
        <img src="./assets/icons/logo.png" alt="logo" />
      </figure>
      <div class="footer__social-net">
        <a href="">
          <img src="./assets/icons/facebook.svg" alt="facebook" />
        </a>
        <a href="">
          <img src="./assets/icons/instagram.svg" alt="instagram" />
        </a>
        <a href="">
          <img src="./assets/icons/linkedin.svg" alt="linkedin" />
        </a>
        <a href="">
          <img src="./assets/icons/youtube.svg" alt="youtube" />
        </a>
      </div>
    </div>
    <a routerLink="terms-privacy">Terms & Conditions</a>
    <div class="footer__contacts">
      <span>Contáctanos</span>
      <span>+52 990 164 6488</span>
      <span>+57 319 395 9870</span>
      <span>{{ "comercial@nomadasmedia.com" }}</span>
    </div>
  </article>
</footer>
