<article class="privacy">
  <h1>POLÍTICA DE PRIVACIDAD DE NÓMADAS MEDIA</h1>
  <p>
    <strong>NÓMADAS MEDIA TRATA SU PRIVACIDAD DE MANERA SERIA.</strong> Toda la
    información personal se trata como estrictamente confidencial para Nómadas
    Media y sus afiliados. Nunca será vendida, intercambiada o transferida de
    otra manera a un tercero, sin su permiso expreso.
  </p>
  <p>
    Esta sección detalla qué información recopila Nómadas Media, por qué se
    recopila y cómo esa información puede ser utilizada.
  </p>
  <p>
    <strong>RECOLECCIÓN DE INFORMACIÓN.</strong> Para utilizar algunos aspectos
    de este sitio web, Nómadas Media puede requerir que proporcione cierta
    cantidad de información. Esto incluye información requerida para crear una
    identificación (como su nombre y dirección de correo electrónico) e
    información de preferencia (gustos/disgustos), así como información sobre
    sus actividades comerciales (según la proporcionada por usted). Utilizamos
    esta información para proporcionarle un servicio o una mejor experiencia en
    línea.
  </p>
  <p>
    Para comprender mejor cómo nuestros clientes utilizan este sitio, también
    recopilamos y analizamos información agregada sobre los usuarios de nuestro
    sitio. Esto incluye, entre otras cosas, a qué hora del día visitan el sitio,
    qué navegador utilizan y qué páginas visitan. No se incluye en este análisis
    ninguna información personal u otra que pueda ser utilizada para
    identificarlo.
  </p>
  <p>
    Nómadas Media registra toda la actividad y mantiene registros de auditoría
    del uso de este sitio. Utilizamos esta información en la detección y
    prevención de fraude y otras actividades maliciosas.
  </p>
  <p>
    Nómadas Media no enviará "spam" o correos electrónicos o SMS no solicitados,
    ni proporcionará sus detalles a un tercero, a menos que nos haya dado
    permiso para hacerlo.
  </p>
  <p>
    <strong>USO DE SU INFORMACIÓN.</strong> La información personal recopilada
    se utiliza para los fines para los cuales la ha proporcionado, y podría ser
    utilizada además para fines estatutarios u otros fines legítimos únicamente.
    Como ejemplo, si utiliza nuestro formulario de contacto de servicio en
    nuestro sitio web, utilizaremos la información que proporcionó en primer
    lugar para responder a su solicitud de servicio. Podríamos utilizar esa
    información adicionalmente para mejorar la calidad de nuestro proceso de
    servicio al cliente.
  </p>
  <p>
    La legalidad del procesamiento es uno de los principales principios
    relacionados con el procesamiento de su información personal; aplicamos los
    siguientes fundamentos legales de procesamiento:
  </p>
  <ul>
    <li>
      El procesamiento es necesario para la ejecución de un contrato, o para
      tomar medidas previas a la celebración de un contrato
    </li>
    <li>
      El procesamiento es necesario para los fines de nuestros intereses
      legítimos, por ejemplo, para mejorar la calidad de nuestros productos y
      servicios
    </li>
    <li>
      El procesamiento es necesario para el cumplimiento de una obligación legal
      a la que estamos sujetos, o que de otro modo es legal bajo las leyes
      aplicables de protección de datos
    </li>
    <li>Con su consentimiento dado.</li>
  </ul>
  <p>
    Dependiendo de cómo interactúe con nosotros y con el Servicio, podemos
    utilizar su información personal para los siguientes fines:
  </p>
  <ul>
    <li>
      <strong
        >ADMINISTRACIÓN DE NUESTRA RELACIÓN CON USTED Y NUESTRO NEGOCIO</strong
      >, como proporcionar y gestionar su acceso y uso de nuestros Servicios.
      Este procesamiento es necesario para la ejecución de un contrato
    </li>
    <li>
      <strong
        >MEJORA DE NUESTROS SERVICIOS Y DESARROLLO DE NUEVOS PRODUCTOS</strong
      >, como invitarlo a participar en encuestas o personalizar su experiencia
      con nuestros Servicios. Este procesamiento es necesario para los fines de
      nuestros intereses legítimos
    </li>
    <li>
      <strong>MARKETING</strong>, como proporcionarle comunicaciones de
      marketing o publicidad que creemos que pueden ser de su interés. Este
      procesamiento es con su consentimiento dado o para nuestros intereses
      legítimos
    </li>
    <li>
      <strong>RECLUTAMIENTO</strong>, como evaluar a los solicitantes de empleo.
      Este procesamiento es para tomar medidas previas a la celebración de un
      contrato o con su consentimiento dado
    </li>
    <li>
      <strong>PROVISIÓN DE COMUNIDADES EN LÍNEA</strong>, como poner a su
      disposición salas de chat, foros, tableros de mensajes o grupos de
      noticias. Este procesamiento es necesario para la ejecución de un contrato
      o nuestros intereses legítimos. Recuerde que cualquier información
      divulgada en estos foros es pública. Le recomendamos que tenga precaución
      al divulgar información personal en estos foros, ya que esta información
      está disponible para otros usuarios. No divulgue información en estos
      foros públicos que pueda considerarse confidencial o propietaria, o que no
      desee que esté disponible públicamente o que esté prohibida de divulgar
    </li>
    <li>
      <strong>OTROS PROPÓSITOS GENERALES DE APOYO EMPRESARIAL</strong>,
      incluidos, entre otros, la adquisición, la gestión financiera y fiscal, la
      gestión de riesgos y cumplimiento, y la presentación de informes externos.
      Este procesamiento es necesario para cumplir con una obligación legal a la
      que estamos sujetos, o que de otro modo es legal bajo las leyes aplicables
      de protección de datos o para nuestros intereses legítimos.
    </li>
  </ul>
  <p>
    <strong>MANTENIMIENTO DE SU INFORMACIÓN.</strong> Su información personal
    será procesada en la medida necesaria para el cumplimiento de nuestras
    obligaciones y durante el tiempo necesario para lograr los fines para los
    cuales se recopila la información, de acuerdo con nuestras políticas de
    retención de datos y las leyes aplicables de protección de datos. Cuando ya
    no necesitemos su información personal, tomaremos todas las medidas
    razonables para eliminarla de nuestros sistemas y registros o tomaremos
    medidas para anonimizarla adecuadamente para que ya no pueda ser
    identificado a partir de ella.
  </p>
  <p>
    <strong>PROTECCIÓN DE SU INFORMACIÓN.</strong> Hemos establecido un marco
    interno de políticas y estándares mínimos en toda nuestra empresa para
    mantener seguros sus datos. Además, limitamos el acceso a la información
    personal por parte de nuestros empleados, socios comerciales, proveedores de
    servicios y proveedores de servicios de terceros a una base de "necesidad de
    saber". Más específicamente y de acuerdo con la ley, tomamos medidas
    técnicas y organizativas apropiadas (políticas y procedimientos, seguridad
    informática y otros) para garantizar la confidencialidad e integridad de su
    información personal y la forma en que se procesa.
  </p>
  <p>
    <strong>COMUNICACIONES ELECTRÓNICAS Y TELEFÓNICAS.</strong> Cuando registra
    su interés, descarga un informe gratuito, nos llama o completa una consulta
    en línea de cualquier manera en este sitio web, conservaremos esta
    información para responder a su consulta y comunicarnos con usted. Esto
    incluye el uso de tecnología automatizada. Puede actualizar esta información
    en cualquier momento u optar por no recibir más comunicaciones de marketing.
    Si se convierte en cliente de Nómadas Media, necesitaremos seguir
    contactándolo para asuntos relacionados con el desarrollo, el progreso o el
    rendimiento. Usted acepta esta comunicación como cliente activo de nuestro
    negocio
  </p>
  <p>
    Si accede al sitio web de Nómadas Media (según se define en nuestros
    Términos de Uso), acepta quedar obligado por las condiciones contenidas en
    este mensaje legal y además acepta que los tribunales de Victoria,
    Australia, tendrán jurisdicción exclusiva en relación con cualquier disputa
    que surja de este mensaje legal.
  </p>
  <p>
    Cuando visita nuestro(s) sitio(s) web o nos envía correos electrónicos, se
    está comunicando con nosotros electrónicamente. Usted acepta recibir
    comunicaciones de nuestra parte electrónicamente. Nos comunicaremos con
    usted por correo electrónico o publicando avisos en nuestro(s) sitio(s) web.
    Usted acepta que todos los acuerdos, avisos, divulgaciones y otras
    comunicaciones que le proporcionamos electrónicamente cumplen con cualquier
    requisito legal de que dichas comunicaciones estén por escrito.
  </p>
  <p>
    Cuando se comunique con nosotros con respecto a nuestros Servicios, su
    comunicación con nosotros puede ser grabada con fines de capacitación y
    calidad. Su comunicación con nosotros será admisible en procedimientos
    judiciales o administrativos.
  </p>
  <p>
    <strong>COOKIES DEL NAVEGADOR WEB.</strong> Nuestro sitio web puede utilizar
    "cookies" para mejorar la experiencia del usuario. Su navegador web puede
    colocar cookies en su disco duro con fines de registro y, a veces, para
    rastrear información sobre usted. Puede optar por configurar su navegador
    web para rechazar las cookies o para avisarle cuando se envíen cookies. Si
    lo hace, tenga en cuenta que algunas partes del sitio web pueden no
    funcionar correctamente.
  </p>
  <p>
    <strong>QUEJAS SOBRE LA VIOLACIÓN DE LA PRIVACIDAD.</strong> Si tiene alguna
    inquietud sobre la forma en que se administra y utiliza su información
    personal por parte de nosotros, o si está preocupado de que la Legislación
    de Privacidad relevante o esta Política de Privacidad haya sido violada,
    comuníquese con Nómadas Media de inmediato.
  </p>
  <p>
    <strong>CONTÁCTENOS.</strong> Si tiene alguna pregunta sobre esta Política
    de Privacidad, las prácticas de este sitio o sus tratos con este sitio,
    contáctenos en:
  </p>
  <p>
    Nómadas Media
    <br />
    <a href="https:nomadasmedia.com" target="_blank">www.nomadasmedia.com</a>
  </p>
  <p>
    La Política de Privacidad se actualizó por última vez el 3 de Enero de 2024.
  </p>
</article>
