@use "../../../../../styles/mixins" as *;

.content-title {
  &__title {
    font-size: 3rem;
    padding: 1.5rem 0 0;
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    text-align: center;
    font-family: "Thick Thinks", sans-serif;
    margin-bottom: 0;
    @include screenLimit(768px, 1700px) {
      padding-top: 5vw;
      font-size: 13vw;
      line-height: 5rem;
    }
    @include screen(custom, min, 1700) {
      padding-top: 5rem;
      font-size: 14rem;
      line-height: 9rem;
    }
  }
  &__content {
    display: flex;
    @include screen(custom, max, 992) {
      flex-direction: column;
      button {
        width: 100%;
      }
    }
  }
  &__info {
    padding: 2rem;
    @include screen(med-small) {
      line-height: 3rem;
      border-right: 1px solid var(--black);
      flex-basis: 65%;
    }
    p,
    span {
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: 800;
      @include screen(med-small) {
        font-size: 2.7rem;
      }
    }
    span {
      color: var(--primary);
    }
  }
  &__image {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    @include screen(med-small) {
      flex-basis: 35%;
    }
  }
}
