<article class="terms">
  <h1>TÉRMINOS DE USO DE NÓMADAS MEDIA</h1>
  <h2>
    POR FAVOR, LEA ESTOS TÉRMINOS DE USO DETENIDAMENTE ANTES DE UTILIZAR EL
    SITIO WEB.
  </h2>
  <p>
    Nosotros. Nómadas Media Corporation LLC y Nómadas Media LLC como
    Fideicomisario de Nómadas Media Trust ("Nómadas Media", "nosotros", "nos" o
    "nuestro") le da la bienvenida y le invita a acceder y utilizar nuestro
    sitio web, incluyendo, sin limitación, nómadasmedia.co y sus subcarpetas,
    así como nómadasmedia.com.au (el "Sitio web"). Cuando decimos Nómadas Media,
    nos referimos a todas y cada una de las empresas afiliadas con los productos
    y servicios de Nómadas Media, incluyendo, pero no limitado a: Nómadas Media
    Corporation LLC, Nómadas Media LLC como Fideicomisario de Nómadas Media
    Trust, y todas las filiales.
  </p>
  <p>
    Usted. "Usted" puede ser un visitante / usuario del sitio web, un usuario de
    los Servicios, o ambos.
  </p>
  <p>
    <strong>SITIO WEB.</strong> Al acceder, navegar y utilizar el Sitio web,
    usted manifiesta que ha leído, entendido y acepta estar legalmente obligado
    por todo lo contenido en estos Términos de uso, nuestra Política de
    privacidad y nuestro Descargo de responsabilidad de ganancias. Estos
    Términos de uso pueden cambiar de vez en cuando sin previo aviso. Es posible
    que no utilice el Sitio web si no está de acuerdo con estos Términos de uso
    y nuestra Política de privacidad. Además, también estará sujeto a nuestras
    pautas, términos, condiciones y acuerdos aplicables a cualquier servicio
    futuro de Nómadas Media que utilice.
  </p>
  <p>
    <strong>SERVICIOS.</strong> Nómadas Media ofrece servicios de marketing
    digital y educativo (incluyendo, pero no limitado a, Optimización de motores
    de búsqueda, publicidad de tráfico pagado, Optimización de la tasa de
    conversión, asesoramiento general en marketing), y otros servicios que son
    consistentes con la entrega de nuestros objetivos comerciales. Puede
    encontrar una descripción de nuestros servicios en nuestro Sitio web bajo
    Servicios en el menú de navegación.
  </p>
  <p>
    <strong>PROPÓSITO PREVISTO.</strong>
    El Sitio web está diseñado para facilitar el acceso a nuestros Servicios,
    proporcionar información general sobre el tema del marketing digital, así
    como para proporcionarle recursos destinados a complementar la información
    proporcionada ("Propósito previsto").
  </p>
  <p>
    <strong>RESTRICCIONES.</strong> El Sitio web y los Servicios solo están
    disponibles para personas mayores de 16 años. Si tiene 16 años o más, pero
    es menor de edad en su jurisdicción, debe revisar estos Términos de uso con
    su padre o tutor para asegurarse de que usted y su padre o tutor comprendan
    y acepten estos Términos.
  </p>
  <p>
    <strong>PRECISIÓN DEL CONTENIDO.</strong> Nómadas Media se esfuerza por
    garantizar que el contenido de este sitio web sea preciso y esté
    actualizado, pero no representa ni garantiza que el contenido de este sitio
    web o de cualquier sitio web vinculado sea preciso, confiable, actual,
    completo, adecuado o disponible. Debe evaluar y verificar de forma
    independiente la precisión, confiabilidad, moneda y completitud de cualquier
    información, y su adecuación para sus circunstancias, antes de confiar en
    ella.
  </p>
  <p>
    <strong>ASESORAMIENTO.</strong> La información proporcionada a través de
    este Sitio web o a través de nuestros Servicios no constituye asesoramiento
    profesional legal, contable, de inversión, fiscal, inmobiliario, médico,
    psicológico, financiero u otro tipo de asesoramiento profesional y es de
    carácter general. No está adaptado a usted y no tiene en cuenta sus
    circunstancias específicas, ni verifica la veracidad y exactitud de lo que
    nos cuenta sobre usted y su negocio, y no debe actuar sin comprender
    plenamente su situación actual y sus objetivos futuros. Usted es responsable
    de determinar si la información proporcionada por nosotros es adecuada para
    sus necesidades. No garantizamos resultados ni ofrecemos asesoramiento
    legal, ni somos responsables del cumplimiento en su industria. Nómadas Media
    no acepta responsabilidad por ninguna pérdida o daño que surja del uso de
    este sitio web, los Servicios o la confianza en el contenido del Sitio web o
    los Servicios.
  </p>
  <p>
    <strong>VIRUS Y DISPONIBILIDAD DEL SITIO WEB.</strong> Accede a este sitio
    web bajo tu propio riesgo. Nómadas Media se esfuerza por mantener este sitio
    web disponible y funcionando correctamente. Sin embargo, es posible que su
    capacidad para acceder a este sitio web se vea interrumpida o retrasada, o
    que su dispositivo quede expuesto a virus, malware, interceptación u otra
    interferencia. Nómadas Media recomienda que utilice software antivirus y de
    seguridad actualizados que sean apropiados para su dispositivo, para
    garantizar que las comunicaciones entre él y este sitio web no lo expongan a
    ninguna interferencia dañina. Nómadas Media no acepta responsabilidad por
    ninguna interferencia o pérdida en su dispositivo que surja en relación con
    su uso de este sitio web o cualquier sitio web vinculado.
  </p>
  <p>
    <strong>ENLACES A OTROS SITIOS WEB.</strong> Este sitio web contiene enlaces
    a otros sitios web. Nómadas Media no controla estos otros sitios web y no es
    responsable de su contenido. Los enlaces no constituyen aprobación del
    contenido de esos sitios web, o de cualquier organización, persona,
    producto, servicio o aplicación relacionada. Nómadas Media no puede
    garantizar que estos enlaces siempre funcionen y no puede controlar si los
    otros sitios web están disponibles. Nómadas Media no representa que el
    contenido en ningún otro sitio web sea confiable o esté libre de malware,
    defectos o infracciones de derechos de propiedad intelectual. Nómadas Media
    no autoriza ninguna infracción de derechos de propiedad intelectual al
    proporcionar estos enlaces.
  </p>
  <p>
    <strong>PROPIEDAD INTELECTUAL.</strong> El contenido contenido en este Sitio
    web y en las plataformas de terceros autorizadas para alojar nuestro Sitio
    web ("Contenido") como logotipos, ilustraciones, texto y gráficos, widgets,
    iconos, imágenes, clips de audio y video, descargas digitales, compilaciones
    de datos y software, es propiedad de Nómadas Media o propiedad de nuestros
    licenciantes o licenciatarios, y la compilación del Contenido en el Sitio
    web (incluidas las plataformas de terceros autorizadas que alojan el
    Contenido) es propiedad exclusiva de Nómadas Media, y está protegido por
    leyes de derechos de autor, tratados y convenciones australianas e
    internacionales. Todo el software y código utilizado en el Sitio web es
    propiedad de Nómadas Media o propiedad de nuestros proveedores y está
    protegido por las leyes de derechos de autor, tratados y convenciones
    aplicables. Cualquier y todos los logotipos, marcas de servicio, encabezados
    de página, gráficos, marcas comerciales, marcas de servicio, widgets,
    iconos, scripts y nombres comerciales (cada uno considerado una "Marca")
    contenidos en el Sitio web son propiedad exclusiva de Nómadas Media, o los
    licenciantes o licenciatarios de Nómadas Media. Nómadas Media no otorga
    permiso a ninguna entidad o individuo para usar cualquiera de las Marcas en
    relación con cualquier producto o servicio que no pertenezca a Nómadas Media
    de ninguna manera que pueda causar confusión o ambigüedad entre los usuarios
    o que desprestigie o desacredite a Nómadas Media o cualquier otra entidad o
    individuo. Cualquier Marca no propiedad de Nómadas Media que aparezca en el
    Sitio web es propiedad de sus respectivos propietarios, que pueden estar o
    no afiliados, conectados o patrocinados por Nómadas Media. Puede imprimir y
    descargar partes del contenido de este sitio web para su uso personal y no
    comercial, siempre que no cambie ni elimine los avisos de derechos de autor.
    Si desea vincular a este sitio web, por favor pídanoslo utilizando la
    información de contacto a continuación. Nómadas Media ha obtenido permiso de
    los titulares de derechos de autor (si se conocen) para usar contenido de
    terceros. Si cree que algún contenido de este sitio web infringe su derecho
    de autor o el derecho de autor de cualquier otra persona, contáctenos
    utilizando la información de contacto a continuación. Cualquier contenido
    que publique o envíe a este sitio web (incluidas, entre otras, sugerencias)
    no se tratará como confidencial o propietario. Usted otorga a Nómadas Media
    un derecho no revocable, perpetuo, mundial, transferible, libre de regalías,
    no exclusivo para usar este contenido para cualquier propósito.
  </p>
  <p>
    <strong>CAMBIOS EN LOS TÉRMINOS.</strong> De vez en cuando, estos Términos,
    o cualquier parte de los mismos, pueden ser modificados por nosotros. Esto
    puede incluir la adición o eliminación de algunos términos en cualquier
    momento. Estas modificaciones se publicarán aquí y serán efectivas de
    inmediato en el momento de la publicación. Estas modificaciones se harán sin
    notificación previa a usted. Su uso del Sitio web y los Servicios después de
    dicha publicación se considerará como aceptación por su parte de cualquier y
    todas las modificaciones, adiciones o eliminaciones realizadas en los
    Términos.
  </p>
  <p>
    <strong>CAMBIOS EN EL SITIO WEB Y TERMINACIÓN.</strong> Podemos cambiar o
    discontinuar cualquier aspecto, servicio o característica del Sitio web en
    cualquier momento, incluyendo, pero no limitado a, contenido, disponibilidad
    y equipo necesario para acceder o utilizar sin previo aviso a usted. Además,
    nos reservamos el derecho, a nuestra sola discreción, de restringir,
    suspender o terminar estos Términos y su acceso a todo o parte de nuestro
    Sitio web o Servicios en cualquier momento y por cualquier motivo sin previo
    aviso a usted y sin responsabilidad.
  </p>
  <p>
    <strong>CUMPLIMIENTO DE LAS LEYES APLICABLES.</strong> El Sitio web y los
    Servicios se basan en México. No hacemos afirmaciones sobre si el Sitio web,
    los Servicios y los componentes relacionados con los Servicios se pueden
    descargar, ver o ser apropiados para su uso fuera de México. Si accede a los
    Sitios web o Servicios desde fuera de México, acepta que lo hace bajo su
    propio riesgo. Independientemente de su ubicación, acepta que es el único
    responsable de garantizar el cumplimiento de todas las leyes aplicables
    dentro de su jurisdicción específica. Las leyes de Monterrey, México, se
    aplican a estos términos, y las partes se someten a la jurisdicción
    exclusiva de los tribunales de Monterrey, México.
  </p>
  <p>
    <strong>COMENTARIOS Y ENVÍOS.</strong> A menos que se indique expresamente
    lo contrario aquí, cualquier información enviada por usted a través de este
    Sitio web se considerará no confidencial y no propietaria. Usted declara que
    tiene el derecho legal de enviar dicha información y acepta que no enviará
    ninguna información a menos que esté legalmente autorizado para hacerlo y
    siempre de una manera que no pueda dañar nuestros intereses comerciales o
    reputación (incluido que no enviará ninguna información para difamar o
    desacreditarnos, o para acosar, intimidar o discriminar ilegalmente al
    personal o terceros; o para hacer declaraciones falsas o engañosas). Por la
    presente, usted nos asigna y nos otorga un derecho, título e interés
    mundiales, no exclusivos, perpetuos, irrevocables, libres de regalías,
    transferibles y sublicenciables para usar e incorporar en el Sitio web (o
    para cualquier otro uso) cualquier sugerencia, solicitud de mejora,
    recomendación, corrección u otro comentario proporcionado por usted
    relacionado con el Sitio web. No estaremos obligados a acreditarle por
    dichos comentarios ni a mantener dichos comentarios en confidencialidad.
    Cualquier idea divulgada a nosotros fuera de una relación comercial
    confidencial preexistente y documentada no es confidencial y, por lo tanto,
    podemos desarrollar, usar y divulgar o publicar ideas similares libremente
    sin compensarlo ni atribuirle a usted. Al enviar una idea u otra
    presentación detallada a nosotros a través de este Sitio web, acepta quedar
    obligado por estos Términos.
  </p>
  <p>
    <strong>REGISTRO.</strong> Es posible que se le dé la oportunidad de
    registrarse a través de un formulario de registro en línea para reservar una
    consulta ("Sesión de Estrategia") con nosotros, o para descargar un informe
    informativo ("Informe Gratuito") de Nosotros. Utilizaremos su información de
    acuerdo con nuestra Política de privacidad. Al registrarse, usted declara y
    garantiza que toda la información que proporcione es actual, completa y
    precisa según su leal saber y entender. Usted es responsable de obtener y
    mantener toda la conectividad, el software de computadora, el hardware y
    otro equipo necesario para acceder y utilizar el Sitio web y todos los
    cargos relacionados con lo mismo.
  </p>
  <p>
    <strong>SESIONES DE ESTRATEGIA E INFORMES GRATUITOS.</strong> Al reservar
    una Sesión de Estrategia con nosotros, o al descargar un Informe Gratuito de
    nosotros, está reforzando que ha leído, comprendido y aceptado estos
    Términos de Uso. Utilizaremos su información de acuerdo con el Propósito
    Previsto y nuestra
  </p>
  <p>
    Política de privacidad. Al reservar una Sesión de Estrategia o descargar un
    Informe Gratuito, declara y garantiza que toda la información que
    proporcione es actual, completa y precisa según su leal saber y entender.
    Usted es responsable de obtener y mantener toda la conectividad, el software
    de computadora, el hardware y otro equipo necesario para acceder a la Sesión
    y todos los cargos relacionados con lo mismo.
    <strong>
      NO GARANTÍA DE RESULTADOS. USTED ACEPTA EXPRESAMENTE QUE SU USO O
      INCAPACIDAD DE USAR EL SITIO WEB Y NUESTROS SERVICIOS ES A SU PROPIO
      RIESGO.
    </strong>
    Con excepción de la(s) Garantía(s) de rendimiento que se describen en los
    Términos y condiciones aplicables cuando nos contrata, usted acepta, acuerda
    y comprende que es completamente responsable de la gestión de su negocio y
    proceso de ventas. Nómadas Media no ofrece representaciones, garantías o
    promesas, verbalmente o por escrito, con respecto a sus ganancias,
    beneficios comerciales, rendimiento de marketing, crecimiento de audiencia o
    resultados de cualquier tipo. Usted es el único responsable de sus propias
    acciones y resultados en la vida y en los negocios, que dependen de factores
    personales como su habilidad, conocimiento, capacidad, dedicación, astucia
    empresarial, red y situación financiera personal. Acepta, acuerda y
    comprende que cualquier testimonio o respaldo proporcionado por los clientes
    o audiencia de Nómadas Media que se represente a través de nuestros
    Servicios, Sitios web, materiales de marketing, publicidad o cualquiera de
    nuestros canales de comunicación no ha sido evaluado científicamente por
    nosotros y los resultados experimentados por los individuos pueden variar
    significativamente. Cualquier declaración descrita en nuestros Servicios,
    Sitios web, materiales de marketing, publicidad o cualquiera de nuestros
    canales de comunicación son solo opiniones y, por lo tanto, no son garantías
    ni promesas de rendimiento real.
  </p>
  <p>
    <strong>DESCARGO DE RESPONSABILIDAD.</strong> Este Sitio web y su contenido
    se proporcionan "TAL CUAL" y no hacemos ninguna representación o garantía de
    ningún tipo con respecto a este Sitio web o cualquier sitio o servicio
    accesible a través de este Sitio web. Expresamente renunciamos a todas las
    garantías expresas e implícitas, incluidas, entre otras, las garantías
    implícitas de comerciabilidad, idoneidad para un fin particular, título y no
    infracción. En ningún caso nosotros o nuestros respectivos directores,
    empleados, consultores, accionistas, agentes y otros representantes seremos
    responsables ante ninguna parte por ningún daño directo, indirecto,
    incidental, especial, ejemplar, consecuencial u otros (incluidos, entre
    otros, lucro cesante, interrupción del negocio, pérdida de programas o
    datos) sin importar la forma de acción y ya sea por contrato, agravio,
    negligencia, responsabilidad estricta u otra forma, que surja de o en
    relación con este Sitio web, cualquier contenido en o accedido a través de
    este Sitio web o cualquier servicio vinculado a él, o cualquier copia,
    visualización o uso del mismo. Las limitaciones aquí contenidas se aplicarán
    incluso si un remedio falla en su propósito esencial. Esta disposición no
    tiene la intención de excluir la responsabilidad que no podamos excluir bajo
    la ley aplicable. A pesar de los Términos de Uso, Términos de Compra y
    Reembolso, y Política de privacidad de CRECIMIENTO CUÁNTICO POR NÓMADAS
    MEDIA, estos Términos de Uso, y nuestra Política de privacidad no reemplazan
    ninguna directriz, término, condición y acuerdo existente específico para
    los servicios existentes ofrecidos por Nómadas Media Corporation LLC o el
    Fideicomisario de Nómadas Media Trust para los servicios existentes ya
    regidos por nuestros Términos y Condiciones estándar, incluyendo
    Optimización de motores de búsqueda (SEO), Servicios de Facebook, Servicios
    de Google Ads (también conocidos como Google AdWords Service), Servicios de
    Diseño, Servicios de Remarketing y Servicio de Alojamiento de Sitios web.
    Cuando nos referimos a Crecimiento Cuántico por Nómadas Media, nos referimos
    específicamente a los productos y servicios afiliados con la oferta de
    Crecimiento Cuántico por Nómadas Media, algunos de los cuales pueden estar
    alojados en plataformas de terceros autorizadas.
  </p>
  <p>
    <strong>INDEMNIZACIÓN.</strong> Usted nos indemniza incondicional e
    irrevocablemente, nos mantiene indemnes y nos mantiene a nosotros, a
    nuestros directores, empleados, consultores, accionistas, agentes y otros
    representantes a salvo de cualquier y toda acción, reclamo, demanda,
    pérdida, responsabilidad o costo (incluidos los costos legales en una base
    de abogado y cliente), ya sea que surja bajo contrato, agravio o una ley
    (incluida por un tercero) que surja, o resulte de, o esté de alguna manera
    conectado con el Sitio web y los Servicios, incluida la venta de cualquier
    producto o servicio a través de su Sitio web.
  </p>
  <p>
    <strong>EXCLUSIÓN DE RESPONSABILIDAD.</strong> Es posible que tenga derechos
    en virtud de la legislación de protección al consumidor que se aplique a
    usted, por ejemplo, la Ley Australiana del Consumidor, que no pueden ser
    excluidos, limitados o modificados por estos términos. Hasta el máximo
    permitido por la ley, Nómadas Media, nuestros directores, empleados,
    consultores, accionistas, agentes y otros representantes: excluyen
    responsabilidad por cualquier pérdida, causada de cualquier manera (incluida
    por negligencia), relacionada con o que surja directa o indirectamente del
    uso o confianza en cualquier contenido en este sitio web, y/o de cualquier
    incapacidad para usar el contenido, cualquier retraso en el acceso a este
    sitio web o cualquier incapacidad para acceder a este sitio web; y excluyen
    responsabilidad (incluyendo cualquier responsabilidad por negligencia) por
    cualquier inexactitud, falta de confiabilidad, falta de moneda,
    incompletitud, inadecuación y/o no disponibilidad del contenido. Esta
    exclusión de responsabilidad incluye, pero no se limita a, daños
    compensatorios, pérdida directa, pérdida consecuencial o indirecta, pérdida
    de datos, corrupción de datos, pérdida de programas, pérdida de ingresos,
    pérdida de beneficios esperados, pérdida de uso, pérdida de oportunidad
    financiera, pérdida de negocio, pérdida de reputación, pérdida de buena
    voluntad, pérdida de clientes, pérdida de tiempo, pérdida de producción,
    pérdida de productividad, pérdida de recursos, pérdida de capital, pérdida
    de fondos comerciales, pérdida de expectativas económicas y/o pérdida de
    propiedad intelectual.
  </p>
  <p>
    <strong>GENERAL.</strong> Si alguna parte de estos Términos de uso se
    considera ilegal, nula o inaplicable por cualquier motivo, entonces esa
    parte se considerará separable de estos Términos de uso y no afectará la
    validez y aplicabilidad de cualquier parte restante. Cualquier renuncia a
    cualquier disposición de estos Términos de uso será efectiva solo si se
    realiza por escrito y firmada por nosotros. Usted no puede ceder, delegar o
    transferir sus derechos u obligaciones bajo estos Términos de uso, ya sea en
    su totalidad o en parte, sin nuestro consentimiento previo por escrito.
    Podemos ceder, delegar o transferir nuestros derechos u obligaciones bajo
    estos Términos de uso, ya sea en su totalidad o en parte, sin su
    consentimiento. El fracaso de Nómadas Media para hacer cumplir cualquier
    disposición de estos Términos de uso no constituirá una renuncia a esa
    disposición o cualquier otra disposición de estos Términos de uso. Nada en
    estos Términos de uso se interpretará como la creación de una asociación,
    empresa conjunta, relación de empleador-empleado, franquicia o agencia entre
    las partes. Nada en estos Términos de uso se interpretará como una
    limitación de los derechos y recursos legales que nos corresponden bajo la
    ley aplicable o de otra manera. Estos Términos de uso constituyen el acuerdo
    completo y exclusivo entre usted y Nómadas Media con respecto al Sitio web y
    los Servicios y reemplazan y reemplazan todos los acuerdos anteriores,
    propuestas, representaciones y entendimientos entre usted y Nómadas Media
    con respecto al Sitio web y los Servicios. Ninguna disposición de estos
    Términos de uso se interpretará a favor de cualquier parte solo porque esa
    parte preparó el presente documento o ejerció cualquier derecho bajo él.
    Estos Términos de uso no tienen como objeto conferir derechos en terceros
    beneficiarios. Para resolver cualquier disputa entre usted y nosotros
    relacionada con estos Términos de uso, puede comunicarse con nosotros
    utilizando la información de contacto a continuación para solicitar la
    resolución informal de cualquier disputa. Si no podemos resolver la disputa
    informalmente, usted acepta que la disputa se resolverá a través de un
    proceso de mediación informal en Monterrey, México, con la asistencia de un
    mediador acordado por ambas partes en un plazo de sesenta (60) días a partir
    de la fecha en que se presentó la disputa. Cualquier disputa que no pueda
    resolverse de manera informal a través de mediación será finalmente resuelta
    por arbitraje vinculante en Monterrey, México, en conformidad con la Ley de
    Arbitraje Comercial Internacional de Monterrey, México, si no podemos
    resolver la disputa de manera informal a través de mediación en un plazo de
    sesenta (60) días a partir de la fecha en que se presentó la disputa.
    Excepto cuando la ley de arbitraje aplicable prohíba específicamente que las
    partes lleguen a acuerdos que limiten la jurisdicción del tribunal, usted
    acepta renunciar irrevocablemente a cualquier derecho que pueda tener a un
    juicio con jurado o la posibilidad de presentar una demanda colectiva. La
    solución de cualquier disputa estará sujeta a la confidencialidad de los
    términos y condiciones establecidos en el proceso de resolución de disputas.
  </p>
  <p>
    <strong>CONTACTO.</strong> Si tiene alguna pregunta sobre estos Términos de
    uso, o si desea ponerse en contacto con nosotros por cualquier motivo, puede
    hacerlo utilizando la información de contacto a continuación:
    <br />
    Nómadas Media
    <br />
    {{ "comercial@nomadasmedia.com" }}
    <br />
    <a href="https://www.nomadasmedia.co/terminos-y-condiciones" target="_blank"
      >https://www.nomadasmedia.co/terminos-y-condiciones</a
    >
  </p>
  <p>Última actualización: 01 de diciembre de 2023.</p>
</article>
