@use "../../../styles/mixins" as *;

.terms {
  padding: 1rem;
  > h1 {
    text-align: center;
    margin: 1rem 0 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    @include screen(med-small) {
      font-size: 2rem;
    }
  }
  > h2 {
    font-size: 1.2rem;
    @include screen(med-small) {
      font-size: 1.5rem;
    }
  }
  a {
    text-decoration: underline;
  }
}
