<article id="form" class="form">
  <h3 class="subtitle">TRANSFORMA TU NEGOCIO HOY MISMO</h3>
  <p>
    Si tienes una idea que te gustaría que trabajáramos juntos, puedes
    comunicárnosla rellenando los datos que figuran a continuación.
  </p>
  <form class="form__content" [formGroup]="form">
    <div>
      <label for="name" class="form-label">Nombre</label>
      <input
        id="name"
        type="text"
        class="form-control"
        placeholder="Nombre"
        aria-describedby="name"
        formControlName="full_name"
      />
    </div>
    <div>
      <label for="email" class="form-label">Correo</label>
      <input
        id="email"
        type="email"
        class="form-control"
        placeholder="Correo"
        aria-describedby="email"
        formControlName="email"
      />
    </div>
    <div>
      <label for="phone" class="form-label">Teléfono</label>
      <input
        id="phone"
        type="text"
        class="form-control"
        placeholder="Teléfono"
        aria-describedby="phone"
        formControlName="phone"
      />
    </div>
    <div>
      <label for="company_name" class="form-label">Nombre del negocio</label>
      <input
        id="company_name"
        type="text"
        class="form-control"
        placeholder="Nombre del negocio"
        aria-describedby="name"
        formControlName="company_name"
      />
    </div>
    <div ngbDropdown container="body" dropdownClass="form-dropdown">
      <button type="button" class="btn" ngbDropdownToggle>
        <div>
          <p>¿Trabajas o has trabajado con una agencia de marketing antes?</p>
          <span
            class="form__drop-value"
            [class.form__drop-value--active]="form.controls['marketing'].value"
          >
            {{ form.controls["marketing"].value || "Si" }}
          </span>
        </div>
      </button>
      <div ngbDropdownMenu aria-labelledby="Menu">
        <button ngbDropdownItem (click)="onSelectItem('Si', 'marketing')">
          Si
        </button>
        <button ngbDropdownItem (click)="onSelectItem('No', 'marketing')">
          No
        </button>
      </div>
    </div>
    <div ngbDropdown container="body" dropdownClass="form-dropdown">
      <button type="button" class="btn" ngbDropdownToggle>
        <div>
          <p>¿Tienes una Página Web o Tienda Online?</p>
          <span
            class="form__drop-value"
            [class.form__drop-value--active]="form.controls['program'].value"
          >
            {{ form.controls["program"].value || "Si" }}
          </span>
        </div>
      </button>
      <div ngbDropdownMenu aria-labelledby="Menu">
        <button ngbDropdownItem (click)="onSelectItem('Si', 'program')">
          Si
        </button>
        <button ngbDropdownItem (click)="onSelectItem('No', 'program')">
          No
        </button>
      </div>
    </div>
    <div>
      <label for="business" class="form-label"
        >¿Qué tipo de negocio tienes?</label
      >
      <input
        id="business"
        type="text"
        class="form-control"
        placeholder="¿Qué tipo de negocio tienes?"
        aria-describedby="business"
        formControlName="business"
      />
    </div>
    <div ngbDropdown container="body" dropdownClass="form-dropdown">
      <button type="button" class="btn" ngbDropdownToggle>
        <div>
          <p>¿Cual es tu capacidad de inversión en publicidad?</p>
          <span
            class="form__drop-value"
            [class.form__drop-value--active]="form.controls['investment'].value"
          >
            {{ form.controls["investment"].value || "$10,000" }}
          </span>
        </div>
      </button>
      <div ngbDropdownMenu aria-labelledby="Menu">
        <button
          ngbDropdownItem
          (click)="onSelectItem('5000-11000', 'investment')"
        >
          $5,000 a $11,000
        </button>
        <button
          ngbDropdownItem
          (click)="onSelectItem('11000-30000', 'investment')"
        >
          $11,000 a $30,000
        </button>
        <button ngbDropdownItem (click)="onSelectItem('>30000', 'investment')">
          $31,000 o más
        </button>
      </div>
    </div>
    <div class="text-center mt-5">
      <button type="button" class="btn btn-primary">Enviar</button>
    </div>
  </form>
</article>
