/* You can add global styles to this file, and also import other style files */
@use "mixins" as *;
/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

:root {
  --primary: #a75eff;
  --bg-color: #fff5ee;
  --black: #303030;
  --mx-width: 1800px;
}

* {
  font-size: 17px;

  @include screen(small) {
    font-size: 20px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cabinet Grotesk", sans-serif;
  background-color: var(--bg-color);
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

article {
  max-width: var(--mx-width);
  margin: 0 auto;
}

section {
  border-bottom: 1px solid var(--black);
}

/* OVERRIDE */

.btn-primary {
  padding: 0.5rem 1.5rem;
  border-color: var(--black);
  border-radius: 50px;
  background-color: var(--primary);
  white-space: nowrap;
  &:hover {
    border-color: var(--black);
    background-color: var(--primary);
    box-shadow: 0 2px 7px #000;
    scale: 1.01;
  }
}

.carousel-control-prev,
.carousel-control-next {
  width: 0.8rem;
}

.carousel-control-prev-icon {
  background-image: url(./../assets/icons/arrow.svg);
}

.carousel-control-next-icon {
  transform: rotate(180deg);
  background-image: url(./../assets/icons/arrow.svg);
}

.card {
  border-color: var(--black);
}
