/* You can add global styles to this file, and also import other style files */
@use "mixins" as *;
/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

@font-face {
  font-family: "Thick Thinks";
  src: url(./../assets/fonts/Thick\ Thinks.ttf);
}

:root {
  --primary: #a75eff;
  --bg-color: #fff5ee;
  --black: #303030;
  --mx-width: 1800px;
}

* {
  font-size: 17px;

  @include screen(small) {
    font-size: 20px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cabinet Grotesk", sans-serif;
  background-color: var(--bg-color);
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

article {
  max-width: var(--mx-width);
  margin: 0 auto;
}

section {
  border-bottom: 1px solid var(--black);
}

hr {
  border-color: var(--black);
  opacity: 1;
}

.subtitle,
.subtitle > span {
  font-size: 1.5rem;
  font-weight: 800;
  @include screen(med-small) {
    font-size: 4.5rem;
  }
}

.subtitle > span {
  color: var(--primary);
}

/* OVERRIDE */

.btn-primary {
  padding: 0.5rem 1.5rem;
  border-color: var(--black);
  border-radius: 50px;
  background-color: var(--primary);
  white-space: nowrap;
  &:hover,
  &:focus,
  &:active {
    border-color: var(--black) !important;
    background-color: var(--primary) !important;
    box-shadow: 0 2px 7px #000;
    scale: 1.01;
  }
}

.btn-dark {
  border-radius: 0;
}

.carousel-control-prev,
.carousel-control-next {
  width: 0.8rem;
}

.carousel-control-prev-icon {
  background-image: url(./../assets/icons/arrow.svg);
}

.carousel-control-next-icon {
  transform: rotate(180deg);
  background-image: url(./../assets/icons/arrow.svg);
}

.card {
  border-color: var(--black);
}

.form-label {
  color: #fff;
}

.form-control,
.dropdown-toggle {
  background-color: transparent;
  color: #fff;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #fff;
  &:focus,
  &:hover,
  &:active {
    color: #fff !important;
    background-color: transparent;
    box-shadow: none;
    border-color: #fff;
  }
  &::placeholder {
    color: #525252;
  }
}

.form-dropdown {
  width: calc(100% - 4rem);
}

.dropdown-toggle {
  display: flex;
  justify-content: space-between;
}

.dropdown-toggle,
.dropdown-toggle.show {
  white-space: wrap;
  text-align: left;
  width: 100%;
  padding-left: 0;
  // &::after {
  //   display: none;
  // }
}

.dropdown-menu {
  background-color: #525252;
  > button {
    color: #fff;
    &:active {
      color: var(--black);
      background-color: var(--bg-color);
    }
  }
}

.accordion-item {
  border: 0;
}

.accordion-button {
  gap: 1rem;
  background-color: transparent;
  border: 0;
  border-radius: 0 !important;
  border-bottom: 3px solid var(--black);
  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    box-shadow: none;
  }
  &:not(.collapsed) {
    background-color: transparent;
    color: var(--black);
  }
  &::after {
    width: 2rem;
    height: 2rem;
    background-size: 2rem;
  }
  > span {
    font-weight: 500;
    font-size: 2.3rem;
    font-family: "Thick Thinks";
  }
}

.accordion-body {
  border: 1px solid var(--black);
}
