<section>
  <article class="projects">
    <h3 class="subtitle">Nuestros proyectos</h3>
    <div class="projects__cards">
      @for (item of projects; track $index) {
      <ng-container
        *ngTemplateOutlet="card; context: { data: item }"
      ></ng-container>
      }
    </div>
    <ngb-carousel class="projects__carousel" [showNavigationIndicators]="false">
      @for (item of projects; track $index) {
      <ng-template ngbSlide>
        <ng-container
          *ngTemplateOutlet="card; context: { data: item }"
        ></ng-container>
      </ng-template>
      }
    </ngb-carousel>
  </article>
</section>
<ng-template #card let-data="data">
  <div class="card">
    <div class="card-body projects__card">
      <figure class="projects__image">
        <img [src]="data.image" alt="image" />
      </figure>
      <span>{{ data.name }}</span>
      <div class="projects__labels">
        @for (item of data.labels; track $index) {
        <span> {{ item }} </span>
        }
      </div>
    </div>
  </div>
</ng-template>
