<section class="services">
  <article>
    <h2 class="services__title">
      Servicios integrales de <br />
      <span>marketing y diseño</span>
    </h2>
    <div class="services__list">
      <div>
        <figure>
          <img src="./assets/images/publicity.png" alt="" />
        </figure>
        <p>Publicidad en redes sociales</p>
        <span>
          Impulsamos tu marca con estrategias de publicidad eficaces en Meta,
          Google, TikTok y LinkedIn, optimizando el alcance y la conversión para
          elevar tu reconocimiento y rentabilidad en el entorno digital.
        </span>
      </div>
      <div>
        <figure>
          <img src="./assets/images/social.png" alt="" />
        </figure>
        <p>Social Media</p>
        <span>
          Capturamos la atención de tu audiencia con contenido impactante y
          estrategias de interacción, fortaleciendo la conexión con tu marca.
          Nos especializamos en crear una presencia en redes sociales que
          fomenta la lealtad y aumenta el compromiso.
        </span>
      </div>
      <div>
        <figure>
          <img src="./assets/images/development.png" alt="" />
        </figure>
        <p>Development</p>
        <span>
          Destacamos tu identidad en mercados concurridos, transformando tu
          marca en una historia singular. Mediante diseño y tono únicos,
          plasmamos la esencia de tu negocio, garantizando una verdadera
          conexión con tu público y distinción ante la competencia.
        </span>
      </div>
      <div>
        <figure>
          <img src="./assets/images/production.png" alt="" />
        </figure>
        <p>Producción Fotográfica y Audiovisual</p>
        <span>
          Transformamos tu contenido visual, desde fotografía de productos hasta
          videos promocionales, en narrativas poderosas que capturan la esencia
          de tu marca con calidad superior y creatividad ilimitada.
        </span>
      </div>
      <div>
        <figure>
          <img src="./assets/images/design.png" alt="" />
        </figure>
        <p>Diseño de Página Web / Ecommerce</p>
        <span>
          Creamos sitios web y tiendas en línea que combinan diseño espectacular
          con funcionalidad de conversión, ofreciendo navegación intuitiva y una
          experiencia de compra sin fisuras para transformar visitantes en
          clientes y potenciar tu presencia online.
        </span>
      </div>
      <div>
        <figure>
          <img src="./assets/images/why.png" alt="" />
        </figure>
        <p>¿Por qué Nómadas Media?</p>
        <span>
          Vamos más allá de los servicios para ofrecerte soluciones a medida que
          impulsan tu éxito. Nuestro enfoque personalizado y nuestra dedicación
          a la innovación nos posicionan como tu aliado estratégico en el camino
          hacia el crecimiento y la excelencia digital.
        </span>
      </div>
    </div>
    <app-btn-get-strategy />
  </article>
</section>
