<section>
  <article class="faqs">
    <h3 class="subtitle">
      <span>¿TIENES PREGUNTAS?</span> ¡NOSOTROS TENEMOS LAS RESPUESTAS!
    </h3>
    <div class="card">
      <div class="card-body">
        <h4 class="faqs__card-title">FAQs</h4>
        <div class="faqs__card-title-border"></div>
        <div ngbAccordion>
          <div ngbAccordionItem>
            <div ngbAccordionHeader>
              <button ngbAccordionButton>
                <span>01</span> ¿Qué hace que una agencia de marketing sea
                exitosa?
              </button>
            </div>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Bueno, una buena agencia de marketing digital no solo conocerá
                  tu negocio profundamente, sino que también evaluará el tráfico
                  de tu sitio web y determinará las mejores plataformas en línea
                  en las que invertir. Pero aquí en Nómadas Media, vamos más
                  allá. No nos conformamos con simplemente mantener un
                  equilibrio perfecto. ¡Buscamos aplastar a tus competidores,
                  convertir a los visitantes del sitio web en compradores y
                  brindarte el mayor retorno de inversión posible utilizando las
                  estrategias más efectivas disponibles!
                </ng-template>
              </div>
            </div>
          </div>
          <div ngbAccordionItem>
            <div ngbAccordionHeader>
              <button ngbAccordionButton>
                <span>02</span> ¿Trabajan con empresas grandes o pequeñas?
              </button>
            </div>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  ¡La respuesta es sí! Ya sea que quieras expandir tus
                  operaciones y dominar tu espacio de mercado o unirte a un
                  equipo de especialistas en marketing, estrategas digitales,
                  diseñadores y desarrolladores que te ayudarán a alcanzar tus
                  objetivos de crecimiento, ¡somos tus aliados más cercanos!
                </ng-template>
              </div>
            </div>
          </div>
          <div ngbAccordionItem>
            <div ngbAccordionHeader>
              <button ngbAccordionButton>
                <span>03</span> ¿Entiendes el valor de gastar $1 para ganar $5?
              </button>
            </div>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  ¡Entonces es momento de comenzar! No importa si eres una
                  pequeña empresa local con 5 empleados o menos o una gran
                  empresa multinacional con cientos de personas en todo el
                  mundo, ¡estamos aquí para ayudarte a alcanzar tus metas!
                </ng-template>
              </div>
            </div>
          </div>
          <div ngbAccordionItem>
            <div ngbAccordionHeader>
              <button ngbAccordionButton>
                <span>04</span> ¿Qué implica el marketing digital según el
                nicho?
              </button>
            </div>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  Bueno, eso depende de TU NEGOCIO. En Nómadas Media, tratamos a
                  cada negocio de manera diferente porque sabemos que no hay dos
                  negocios iguales. Nuestro objetivo es fortalecer tu presencia
                  en línea y haremos todo lo necesario para lograrlo.
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
