<section class="content-title">
  <h1 class="content-title__title">Nómadas Media</h1>
  <article class="content-title__content">
    <div class="content-title__info">
      <p>¿Eres emprendedor y quieres hacer crecer tu negocio?</p>
      <p>
        Si llegaste aquí es porque
        <span>tu negocio no está donde quieres o simplemente quieres más.</span>
        Transforma tu negocio, empieza hoy mismo
      </p>
      <button type="button" class="btn btn-primary">Comenzar</button>
    </div>
    <figure class="content-title__image">
      <img src="./assets/images/banner.png" alt="Info" />
    </figure>
  </article>
</section>
