<article class="strategy">
  <h3 class="subtitle">
    ¡El Poder está en
    <span>la Estrategia!</span>
  </h3>
  <p>
    ¡Detén el ciclo de prueba y error y comienza a tomar el control de tu éxito!
    La mayoría de los emprendedores se embarcan en el viaje de hacer crecer sus
    negocios a ciegas, tropezando y tratando de resolverlo todo por sí mismos.
    Pero nosotros sabemos que ese enfoque solo lleva a más estrés y a menudo, al
    fracaso.
  </p>
  <hr />
  <p>
    ¡No más incertidumbre, no más gastos innecesarios! Estamos aquí para
    brindarte las estrategias comprobadas y el apoyo que necesitas para llevar
    tu negocio al siguiente nivel.
  </p>
  <figure class="mb-4">
    <img src="./assets/images/strategy1.webp" alt="strategy 1" />
  </figure>
  <figure class="mb-4">
    <img src="./assets/images/strategy2.webp" alt="strategy 2" />
  </figure>
  <app-btn-get-strategy />
</article>
